# OS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage

# build directories
dist/
build/
_vendor/

.build_vendor/

# MkDocs
site/
docs/nodes/
docs/node-list.md
docs/stylesheets/extra.css
mkdocs.yml